<ion-header>
  <ion-toolbar class="ion-text-center" color="tertiary">
    <ion-title><ion-icon name="bus"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true" color="dark">
  <div class="ion-padding-vertical ">
    <ion-card color="medium" >

      <ion-card-header>
        <ion-card-title class="ion-text-center" color="warning">Recuperar Cuenta</ion-card-title>
      </ion-card-header>
          
      <ion-card-content class="color-form" color="medium">
          <ion-list color="medium" >
            <ion-item  color="medium">
              <div class="ion-padding-vertical" >
                    <mat-form-field  appearance="standard">
                      <mat-label >Nombre usuario</mat-label>
                      <input matInput  type="text" [(ngModel)]="NombreUser" >
                    </mat-form-field>
              </div>
            </ion-item>
              
              <div class="boton-position ion-padding-vertical color-butn">
            <button  mat-raised-button color="primary"  type="submit" (click)="recuperar()" >Recuperar</button>
            
            </div>

          </ion-list>
          
      </ion-card-content>
      
    </ion-card>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title class="centrado">
      <button mat-icon-button color="success" >
      <mat-icon aria-hidden="false" aria-label="Home" (click)="salir()"  >arrow_back</mat-icon>
    </button>
  </ion-title>
  </ion-toolbar>
</ion-footer>
