<ion-header class="HEADER-LOGIN" [translucent]="true" >
  <ion-toolbar color="tertiary">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="global">
        <ion-label>Guardar contacto</ion-label>
        </ion-segment-button>
      <ion-segment-button value="app">
        <ion-label>Contactos</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
  <ion-router-outlet></ion-router-outlet>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-row class="ion-no-border paddings">
      <ion-col size="4" >
      <button mat-icon-button color="success" >
        <mat-icon aria-hidden="false" aria-label="salir" (click)="salir()">reply_all</mat-icon>
      </button>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
