
<ion-content color="dark"> 
    <ion-card class="center" color="medium">
        <ion-card-header color="medium" class="ion-text-center">
          <ion-card-title >Contacto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list color="medium">
                <ion-item color="medium">
                    <div class="ion-padding-vertical">
                        <ion-input [(ngModel)]="newContacto.strNombre" type="text" placeholder="Ingrese nombre"  inputmode="text"></ion-input>
                    </div>
                </ion-item>
                <ion-item color="medium"> 
                    <div class="ion-padding-vertical">
                        <ion-input [(ngModel)]="newContacto.strNro" type="number" placeholder="Ingrese Numero"  inputmode="numeric"></ion-input>
                    </div>
                </ion-item>
                <ion-item color="medium">
                    <div class="boton-position ion-padding-vertical ">
                        <ion-button  (click)="guardarContacto()">Guardar</ion-button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>    
    </ion-card>
</ion-content>

