<ion-header class="HEADER-LOGIN"  >
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" >
      <ion-icon name="bus"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content CLASS="CONTENIDO-DEL-LOGIN no-scroll" color="dark" [fullscreen]="true" >
  <div class="ion-padding-vertical ">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title class="ion-text-center" >Register</ion-card-title>
      </ion-card-header>
          
      <ion-card-content color="medium" >
          <ion-list  color="medium">
            <ion-item  color="medium">
              <div  class="ion-padding-vertical" >
                    <mat-form-field  appearance="standard">
                      <mat-label >Nombre usuario</mat-label>
                      <input matInput  type="text" [(ngModel)]="newUsuario.strNombre" [formControl]="userCtrl" required>
                      <mat-error *ngIf="userCtrl.invalid">{{obtenerErrorForm()}}</mat-error>
                      
                    </mat-form-field>
                    <mat-form-field  appearance="standard">
                      <mat-label >Contraseña</mat-label>
                      <input matInput  type="password" [(ngModel)]="newUsuario.strPassword" [formControl]="contraCtrl" required>
                      <mat-error *ngIf="contraCtrl.invalid">{{obtenerErrorForm2()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field  appearance="standard">
                      <mat-label >Correo</mat-label>
                      <input matInput  type="email" [(ngModel)]="newUsuario.strCorreo" [formControl]="CorreoCtrl" required>
                      <mat-error *ngIf="CorreoCtrl.invalid">{{obtenerErrorForm3()}}</mat-error>
                    </mat-form-field>   
              </div>
            </ion-item>
              
              <div class="boton-position ion-padding-vertical color-butn">
                <button mat-raised-button color="primary" type="submit" (click)="Registrar()" >Registrar</button>
              </div>
              

          </ion-list>
          
      </ion-card-content>
      
    </ion-card>
  </div>
  

  
</ion-content>


<ion-footer class="ion-no-border bar-balanced" >
  <ion-toolbar color="tertiary">
    <ion-row class="ion-no-border paddings">
    <ion-col size="4" >
    <button mat-icon-button color="success" >
      <mat-icon aria-hidden="false" aria-label="salir" (click)="salir()">reply_all</mat-icon>
    </button>
  </ion-col>
</ion-row>
  </ion-toolbar>

</ion-footer>
