<ion-header>
  <ion-toolbar   color="primary" class="color-header" >
    <ion-title class="ion-text-center" >
      <ion-icon name="bus"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true" >
  <div>
    <ion-card class="s">
      <ion-card-header  class="s"> 
        <ion-card-title class="ion-text-center xd">LOGIN</ion-card-title>
      </ion-card-header>
          
      <ion-card-content  class="s">
          <ion-list class="s">
              <div class="s">
                    <mat-form-field >
                      <mat-label >Nombre usuario</mat-label>
                      <input matInput  type="text" [(ngModel)]="NombreUser" [formControl]="userCtrl" required>
                      <mat-error *ngIf="userCtrl.invalid">{{obtenerErrorForm()}}</mat-error>
                    </mat-form-field>
              
                    <mat-form-field >
                      <mat-label >Contraseña</mat-label>
                      <input matInput  type="password" [(ngModel)]="Contrasena" [formControl]="contraCtrl" required>
                      <mat-error *ngIf="contraCtrl.invalid">{{obtenerErrorForm2()}}</mat-error>
                    </mat-form-field>  
              </div>
            </ion-list>

              <div class="boton-position ion-padding-vertical">
                <button mat-raised-button class="color-butn"  (click)="loguear()" >Iniciar sesión</button>
              </div>
              
              <div class="boton-position ion-padding-vertical ">
                <ion-text class="ion-text-center xd" (click)="Registrar()" >Registrarse</ion-text>
              </div>
      </ion-card-content>
    </ion-card>
</div>
  

  <div class="ion-text-center">
      <ion-text (click)="recuperar()" class="xd2">¿Olvidaste tu contraseña?</ion-text>
  </div>
</ion-content>






