<ion-header class="HEADER-LOGIN"  >
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" >
      <ion-icon name="bus"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content CLASS="CONTENIDO-DEL-LOGIN no-scroll" color="dark" [fullscreen]="true" >
  <div class="ion-padding-vertical ">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title class="ion-text-center" >Login</ion-card-title>
      </ion-card-header>
          
      <ion-card-content color="medium" >
          <ion-list  color="medium">
            <ion-item  color="medium">
              <div  class="ion-padding-vertical" >
                    <mat-form-field  appearance="standard">
                      <mat-label >Nombre usuario</mat-label>
                      <input matInput  type="text" [(ngModel)]="NombreUser" [formControl]="userCtrl" required>
                      <mat-error *ngIf="userCtrl.invalid">{{obtenerErrorForm()}}</mat-error>
                      
                    </mat-form-field>
                    <mat-form-field  appearance="standard">
                      <mat-label >Contraseña</mat-label>
                      <input matInput  type="password" [(ngModel)]="Contrasena" [formControl]="contraCtrl" required>
                      <mat-error *ngIf="contraCtrl.invalid">{{obtenerErrorForm2()}}</mat-error>
                    </mat-form-field>  
              </div>
            </ion-item>
              
              <div class="boton-position ion-padding-vertical color-butn">
                <button mat-raised-button color="primary" type="submit" (click)="loguear()" >Iniciar sesión</button>
              </div>

          </ion-list>
          
      </ion-card-content>
      
    </ion-card>
  </div>
  

  <div class="ion-text-center">
      <ion-text (click)="recuperar()" color="primary">¿Olvidaste tu contraseña?</ion-text>
  </div>
</ion-content>


<ion-footer class="ion-no-border bar-balanced" >
</ion-footer>



