#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.boton-position{
  display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.color-form{
  background-color: #91949b;
  color: #91949b;
  border-color:#91949b;
  
}



